.sweetContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #150f0f;
  padding: 10px 20px; }
  .sweetContainer .icons {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .sweetContainer .icons button {
      background-color: white;
      color: #150f0f;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: 0.5s ease-in-out all;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      -webkit-transition: 0.5s ease-in-out all;
      -moz-transition: 0.5s ease-in-out all;
      -ms-transition: 0.5s ease-in-out all;
      -o-transition: 0.5s ease-in-out all; }
      .sweetContainer .icons button:hover {
        background-color: green; }
    .sweetContainer .icons .icon {
      font-size: 35px;
      cursor: pointer; }
  .sweetContainer .cartBox {
    display: flex;
    gap: 40px; }
    .sweetContainer .cartBox .image {
      height: 30vw;
      width: 30vw; }
      .sweetContainer .cartBox .image img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
    .sweetContainer .cartBox .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px; }
      .sweetContainer .cartBox .text h3 {
        font-size: 35px;
        color: orange; }
      .sweetContainer .cartBox .text span {
        font-size: 20px; }
      .sweetContainer .cartBox .text .btn {
        display: flex;
        flex-direction: column;
        gap: 15px; }
        .sweetContainer .cartBox .text .btn p {
          font-size: 25px;
          color: orangered; }
        .sweetContainer .cartBox .text .btn button {
          cursor: pointer;
          border: none;
          width: 50%;
          background-color: white;
          color: #150f0f;
          padding: 15px 0;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          transition: 0.5s ease-in-out all;
          -webkit-transition: 0.5s ease-in-out all;
          -moz-transition: 0.5s ease-in-out all;
          -ms-transition: 0.5s ease-in-out all;
          -o-transition: 0.5s ease-in-out all; }
          .sweetContainer .cartBox .text .btn button:hover {
            background-color: green; }

@media screen and (min-width: 640px) and (max-width: 940px) {
  .sweetContainer .cartBox .text h3 {
    font-size: 25px; }

  .sweetContainer .cartBox .text span {
    font-size: 15px; }

  .sweetContainer .cartBox .text .btn p {
    font-size: 20px; }

  .sweetContainer .cartBox .text .btn button {
    padding: 10px 0;
    width: 200px; } }
@media screen and (min-width: 340px) and (max-width: 640px) {
  .sweetContainer .cartBox .image {
    height: fit-content;
    width: fit-content; }

  .sweetContainer .cartBox .text {
    gap: 10px; }

  .sweetContainer .cartBox .text h3 {
    font-size: 20px; }

  .sweetContainer .cartBox .text span {
    font-size: 14px; }

  .sweetContainer .cartBox .text .btn p {
    font-size: 18px; }

  .sweetContainer .cartBox .text .btn button {
    padding: 10px 0;
    width: 150px; } }
@media screen and (min-width: 220px) and (max-width: 340px) {
  .sweetContainer .cartBox .image {
    height: fit-content;
    width: fit-content; }

  .sweetContainer .cartBox .text {
    gap: 2px; }

  .sweetContainer .cartBox {
    gap: 20px; }

  .sweetContainer .cartBox .text h3 {
    font-size: 14px; }

  .sweetContainer .cartBox .text span {
    font-size: 10px; }

  .sweetContainer .cartBox .text .btn p {
    font-size: 12px; }

  .sweetContainer .cartBox .text .btn button {
    padding: 4px 0;
    width: 100px; }

  .sweetContainer .icons button {
    padding: 5px 10px; } }

/*# sourceMappingURL=Sweet.css.map */
