@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;900&display=swap');
html,
body {
  overflow-x: hidden;
  background: #150f0f;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    color: white;

}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb{
  height: 30vh;
  background:linear-gradient(orangered,orange);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
